.main {
  margin: 0;
}

.movies {
  margin-bottom:  80px;
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  grid-template-rows: 281px;
  grid-row-gap: 37px;
  justify-content: space-between;
  margin: 115px auto 0;
  row-gap: 31px;
  column-gap: 7px;
}

.movies__button {
  width: 1134px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: none;
  padding: 11px 0 9px;
  background: #2f2f2f;
  border-radius: 6px;
  color: inherit;
  margin: 60px 0 36px;
}

@media screen and (max-width: 1260px) {
  .movies{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -29px;
  }
  .movies__list {
    grid-template-columns: repeat(auto-fill, 339px);
    grid-template-rows: 262px;
    margin: 180px 30px 0;
    justify-content: center
  }

  .movies__button {
    width: 709px;
    margin: 60px 30px 36px;
  }
}

@media screen and (max-width: 685px) {
  .movies__list {
    margin-top: 152px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 237px;
    justify-content: center;
    row-gap: 20px;
  }
  .movies__button {
    margin-left: 11px;
    margin-right: 11px;
    width: 300px;
    margin-bottom: 57px;
  }
}

