.movies-cards {
  background-color: #222;
  max-width: 364px;
  height: 281px;
}

.movies-cards__link {
  cursor: pointer;
}

.movies-cards__image {
  object-fit: contain;
  object-position: center;
  max-width: 364px;
  height: 203px;
  margin: 0 auto;
  display: block;
}

.movies-cards__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
  margin-left: 16px;
  margin-right: 24px;
}

.movies-cards__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movies-cards__button-like:hover {
  scale: 1.2;
}

.movies-cards__button-like_active:hover {
  scale: 1.2;
}

.movies-cards__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  margin: 17px 0 0 17px;
}

.button-like {
  background: transparent;
  border: none;
  background-image: url('../../images/buttonLike.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 14px;
  padding: 0;
}

.button-like-active {
  background: transparent;
  border: none;
  background-image: url('../../images/likeActive.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 14px;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .movies-cards {
    max-width: 339px;
    height: 262px;
  }

  .movies-cards__image {
    width: 339px;
    height: 190px;
  }

  .movies-cards {
    margin: 0 auto;
  }
}

@media screen and (max-width: 685px) {
  .movies-cards {
    max-width: 300px;
    height: 237px;
  }
  .movies-cards__image {
    width: 300px;
    height: 168px;
  }

  .movies-cards__description {
    margin-right: 15px;
  }

  .movies-cards__title {
    font-size: 12px;
    line-height: 15px;
  }
}
