.movies-cards {
  background-color: #222;
  max-width: 364px;
  padding-bottom: 17px;
}

.movies-cards__link {
  cursor: pointer;
}

.movies-cards__image {
  object-fit: contain;
  object-position: center;
  max-width: 364px;
  max-height: 203px;
  margin: 0 auto;
  display: block;
}

.movies-cards__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 24px;
}

.movies-cards__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movies-cards__button-like {
  background: transparent;
  border: none;
  background-image: url('../../images/buttonLike.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 14px;
  padding: 0;
}

.movies-cards__button-like_active {
  background: transparent;
  border: none;
  background-image: url('../../images/likeActive.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 14px;
  padding: 0;
}

.movies-cards__button-like:hover {
  scale: 1.2;
}

.movies-cards__button-like_active:hover {
  scale: 1.2;
}

.movies-cards__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  margin: 17px 0 0 17px;
}
