.portfolio {
  margin: 100px 70px 183px;
}

.portfolio-disable {
  display: none;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin: 0 0 35px 0;
}
.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 19px;
  padding-top: 19px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  text-decoration: none;
  color: inherit;
}

.portfolio__link:hover {
  scale: 0.99;
}

.portfolio__link:nth-child(2) {
  scroll-padding-top: 0;
}

.portfolio__link:first-child {
  padding-top: 0;
}

.portfolio__text {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}
.portfolio__iamge {
  width: 22px;
  height: 16px;
  object-fit: contain;
  background-image: url('../../images/arrow.svg');
  background-size: 100%;
}

@media screen and (max-width: 1260px) {
  .portfolio {
    margin: 90px 50px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__text {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__title {
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 72px;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__iamge {
    background-image: url('../../images/arrow320.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 11px;
    margin-right: 5px;
  }
}
